{%extends 'sistema/base.html'%}
{%block titulo%}Inventario{%endblock%}
{% load staticfiles %}
{%block wrapper%}

    {% include 'sistema/navbars/cobros.html' %}

{%endblock%}
{%block encabezado%}Inventario en {{tienda}}
{%endblock%}
{% block contenido %}

	{% include 'productos/inventario/inv/tabla.html'%}


{%endblock%}

{% block script %}


    <script src="{%static 'bower_components/jquery/dist/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static 'bower_components/metisMenu/dist/metisMenu.min.js'%}"></script>

  
    <!-- Custom Theme JavaScript -->
    <script src="{%static 'dist/js/sb-admin-2.js'%}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

<script src="{% static 'propias/inventario/query_tienda.js' %}"></script>




    
{% endblock %}