{%extends 'sistema/base.html'%}
{%block titulo%}{{user.username}}{%endblock%}
{% load staticfiles %}
{%block wrapper%}
    {% include 'sistema/navbars/cobros.html' %}
{%endblock%}
{%block encabezado%}Bienvenid@ {{user.username}}{%endblock%}
{% block contenido %}
    <a href="/caja/cola">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bookmark fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{cola}}</div>
                            <div>En cola</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">ver documentos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="/caja/contrasenas">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-lock fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{passwd}}</div>
                            <div>Listas</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">Ver contrase&ntilde;as</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>    
    </a>
    <a href="/caja/carga">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-book  fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{recibos}}</div>
                            <div>pendientes</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">ver recibos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="/caja/facturas_en_cola">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-folder-open-o fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{cobros}}</div>
                            <div>para hoy</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">ver cobros</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </a>
</div>


{%endblock%}
{% block script %}
 <!-- jQuery -->
    <script src="{%static 'bower_components/jquery/dist/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static 'bower_components/metisMenu/dist/metisMenu.min.js'%}"></script>

    <!-- DataTables JavaScript -->
    <script src="{%static 'bower_components/datatables/media/js/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static 'dist/js/sb-admin-2.js'%}"></script>

   
{% endblock %}