{%extends 'sistema/base.html'%}
{%block titulo%}{{user.username}}{%endblock%}
{% load staticfiles %}
{%block wrapper%}
        {% include 'sistema/navbars/admin.html' %} 
{%endblock%}
{%block encabezado%}Usuario:{%endblock%}
{% block contenido %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              Registrar 
               {% for message in messages %}
                    <li{%if not message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
                {% endfor %}
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">

                    <form method="POST">{%csrf_token%}
                        {{form.as_p}}
                        <br/>
                        <input type="submit" value="Crear usuario" class="btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right btn-lg" >
                    </form>
                    

                </div>
            </div>
        <!-- /.panel -->
        </div>
    <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /.row -->

{%endblock%}
{% block script %}
 <!-- jQuery -->
    <script src="{%static 'bower_components/jquery/dist/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static 'bower_components/metisMenu/dist/metisMenu.min.js'%}"></script>

    <!-- DataTables JavaScript -->
    <script src="{%static 'bower_components/datatables/media/js/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static 'dist/js/sb-admin-2.js'%}"></script>

    

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>
{% endblock %}

