<html>
{%load staticfiles%}
<head>
	<title>
		TRASLADO
	</title>
    <link href="{%static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'bower_components/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>TRASLADO DE PRODUCTOS</h1>
	<table class="table">
  			<thead class="thead-dark">
		    <tr>
		      <th scope="col">codigo</th>
		      <th scope="col">descripcion</th>
		      <th scope="col">marca</th>
		      <th scope="col">cantidad</th>
		    </tr>
		  </thead>
		  <tbody>
		{%for c in producto%}
		    <tr>
		      <th scope="row">{{c.producto.codigo}}</th>
		      <td>{{c.producto.descripcion}}</td>
		      <td>{{c.producto.marca}}</td>
		      <td>{{c.cantidad}}</td>
		    </tr>
		{%endfor%}
		
		  </tbody>
	</table>

</body>
</html>